# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.hpp.gch-c94f3761
*.pyc

.idea*
tests/kmers.23*
tests/test*
bin
venv/*
cmake-build-debug/*
.vscode
build
aindex2.egg-info
dist
external/emphf
tests/temp/test_jellyfish.23.histo
tests/temp/test_jellyfish.23.index.bin
tests/temp/test_jellyfish.23.indices.bin
tests/temp/test_jellyfish.23.kmers.bin
tests/temp/test_jellyfish.23.pf
tests/temp/test_jellyfish.23.pos.bin
tests/temp/test_jellyfish.23.tf.bin
tests/temp/test_jellyfish.reads
tests/temp/test_jellyfish.ridx
tests/temp/test_kmer_counter.23.histo
tests/temp/test_kmer_counter.23.index.bin
tests/temp/test_kmer_counter.23.indices.bin
tests/temp/test_kmer_counter.23.kmers_counts.txt.bin
tests/temp/test_kmer_counter.23.kmers.bin
tests/temp/test_kmer_counter.23.pf
tests/temp/test_kmer_counter.23.pos.bin
tests/temp/test_kmer_counter.23.tf.bin
tests/temp/test_kmer_counter.reads
tests/temp/test_kmer_counter.ridx
tests/temp/test_results.json
temp
depricated_code
all_13mers.txt
pyvenv.cfg
kmers_analysis.trues.summary
kmers_analysis.trues
test_env